body {
  background-color: #FFF1D0;
  opacity: 0.95;
  background-size: 7px 7px;
  background-image: repeating-linear-gradient(45deg, #086788 0, #086788 0.7px, #F0C808 0, #FFF1D0 50%);
  display: flex;
  color: #086788;
}

h1 {
  color: #07A0C3;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow:1.2px 1.2px #086788;
  font-size: 30px;
  border: 0px;
}


li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;
  text-indent: 5px;
  line-height: 1.1;
  margin: 0px 30px 0px;
}
ul {
  margin-top: -5px;
}

b {
  color: #DD1C1A;
}

i {
  color: #DD1C1A;
}

p > img {
  max-width: 40%;
  height: auto;
  display: block;
  margin-right: auto;
}

div.terminal {
  border: 2px;
  padding: 4px 12px 4px 12px;
  max-width: fit-content;
  background-color: black;
  color: lightgrey;
  text-align: left;
  margin: 7px 10px 7px 0px;
  display: flex;
  border-radius: 5px;
  margin-left: 10%;
}
code.language-bash {

  align-self: center;
  font-size: 16px;
}

code.inline {
  background: #F0C808;
}

pre {
 display: inline-block;
 text-align: left;
 font-size: 16px;
}
div.interpreter{
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: justify;
  text-indent: 3%;
  line-height: 1.1;
  margin: 5px 3% 5px 3%;
}

div.container{
  display:block;
  background: #FFF1D0;
  padding-top: 1px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: none;
  overflow: hidden;
  border: none;
}

.collapse {
  cursor: pointer;
  width: 100%;
  background-color: #FFF1D0;
  outline: 20px;
  border: 10px #07A0C3;
  margin: -2px;
}

.active {
  background-color: #FFF1D0;
} 

.collapse:hover {
  background-color: #F0C808
}

button.copy {
  align-self: center;
  padding: 01px ;
  margin: 5px 0px 5px 20px;
  border: none;
  border-radius: 3px;
  background: linen;
  opacity: 0.7;
  background-blend-mode:multiply;
  cursor: pointer;
  transition-duration: 0.4s;
}

img.clipboard {
  width: fit-auto;
  height: 15px;
}

button.copy:hover {
  opacity: 0.95;
}